.card {
  border: 1.8px solid #e3ebff;
  border-radius: 1rem;
  padding: 30px;
  width: 198px;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

.card:active,
.card:hover {
  background-color: var(--bg-primary);
  color: #fff;
}

.cardIcon {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardIcon svg:last-child {
  display: none;
  cursor: pointer;
}

.card:active .cardIcon svg:last-child,
.card:hover .cardIcon svg:last-child {
  display: inline-block;
}
