.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 44px;
}

.sectionTitle {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.75rem;
}

.goalTabs {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.goalList {
  overflow-y: auto;
  max-height: 530px;
  display: none;
  padding-right: 38px;
  padding-bottom: 1.5rem;
}
.showGoal {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.taskList {
  margin-top: 86px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  overflow-y: auto;
  max-height: 530px;
  padding-right: 32px;
  padding-bottom: 1rem;
}
