.header {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  margin-bottom: 50px;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.headerData {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}
.headerGreetings {
  font-weight: 700;
  font-size: 26px;
}
.headerSubGreetings {
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--text-secondary);
}

.headerMenu {
  display: flex;
  align-items: center;
  column-gap: 28px;
  position: relative;
}
.headerProfile {
  cursor: pointer;
}
.headerProfileMenu {
  display: none;
  position: absolute;
  max-width: 368px;
  background: #ffffff;
  box-shadow: 0px 8px 24px rgba(15, 13, 35, 0.06);
  border-radius: 1.25rem;
  z-index: 10;
  top: 3rem;
  right: 0.1rem;
}
.showProfileMenu {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}
.profileHeader {
  display: flex;
  column-gap: 30px;
}
.projectHeaderContent p {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.045em;
  text-transform: capitalize;
}
.projectCard {
  display: flex;
  align-items: center;
  margin-top: 30px;
  column-gap: 12px;
  width: 150px;
  background: #ffffff;
  box-shadow: 0px 8px 24px rgba(15, 13, 35, 0.03);
  border-radius: 12px;
  padding: 10px;
}
.projectCardIcon {
  background-color: #2bc5e7;
  border-radius: 10px;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team {
  background-color: #a06af9;
}
.projectCardText p {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #6b7488;
}
.projectCard span {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.03em;
}
.profileLine {
  border: 2px solid rgba(204, 210, 227, 0.27);
  margin-top: 28px;
  margin-bottom: 24px;
}
.profileMenuList {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
}

.headerSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7fbfe;
  border-radius: 1rem;
  padding: 26px 28px;
}
.headerSearchInput {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-primary);
}
.headerSearchInput::placeholder {
  color: var(--text-secondary);
}
