.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 34px;
}

.sectionTitle {
  font-weight: 700;
  font-size: 1.75rem;
  margin-bottom: 10px;
}
.sectionSubtitle {
  font-weight: 400;
  font-size: 14px;
  color: var(--text-secondary);
}

.pendingTask {
  margin-top: 1.25rem;
  padding-right: 36px;
  padding-bottom: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  overflow-y: auto;
  max-height: 530px;
}
